params {
    reads    = './data/*_{1,2}.fq.gz'
    outdir   = './outputs'
    adapters = './adapters.fa'
}

process {
    executor = 'local'
}

conda {
    enabled = true
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
}
